<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>Time over WebSocket</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/flow.css">
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/sockjs-0.3.4.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-sockjs.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/application.js"></script>
    <script src="js/flow.js"></script>
    <script type="text/javascript">
//        var sock = new SockJS('/messages');
//        sock.onopen = function () {
//            addMessage('Connected')
//        };
//        sock.onmessage = function (e) {
//            addMessage(JSON.parse(e.data))
//        };
//        sock.onclose = function () {
//            addMessage("Server closed connection or hasn't been started")
//        };
//        function addMessage(event) {
//            var response = document.getElementById('response');
//            var p = document.createElement('p');
//            p.style.wordWrap = 'break-word';
//            p.appendChild(document.createTextNode(event.message));
//            response.appendChild(p);
//        }
    </script>
</head>
<body>
<div id="App1" ng-app="flow" ng-controller="flowController">
    <div class="flow">
        <div class="fill">
            <div class="logs
                {{showTrace == true ? 'show-level-TRACE' : ''}}
                {{showDebug == true ? 'show-level-DEBUG' : ''}}
                {{showInfo == true ? 'show-level-INFO' : ''}}
                {{showWarn == true ? 'show-level-WARN' : ''}}
                {{showError == true ? 'show-level-ERROR' : ''}}
            ">
                <div ng-repeat="log in items | reverse | filter:search" class="entry-log level-{{log.level}}">
                    <span>
                        {{log.date}}&nbsp;&nbsp;
                        <span class="log-level level-{{log.level}}">{{log.level}}</span>&nbsp;
                        <!--<span class="log-thread">{{log.threadName}}</span>&nbsp;-->
                        {{log.user}}
                        <span ng-if="log.level != 'ERROR'">
                            <!--<span ng-repeat="part in log.callerData track by $index" ng-if="$index == 0">-->
                                <!--{{part.className}}:{{part.methodName}}:{{part.lineNumber}}-->
                                <!--&nbsp;-->
                            <!--</span>-->
                            {{log.formattedMessage}}
                        </span>
                        <span class="log-msg-error" ng-if="log.level == 'ERROR'">
                            {{log.throwableProxy.className}}: {{log.throwableProxy.message}}
                        </span>
                    </span>
                    <div class="log-msg-error-stack" ng-if="log.level == 'ERROR'">
                        <div ng-repeat="part in log.throwableProxy.stackTraceElementProxyArray track by $index">
                            {{part.stackTraceElement.className}}:{{part.stackTraceElement.methodName}}:{{part.stackTraceElement.lineNumber}}
                        </div>
                    </div>
                    <!--<div class="log-caller-data">-->
                        <!--<div ng-repeat="part in log.callerData track by $index">-->
                            <!--{{part.className}}:{{part.methodName}}:{{part.lineNumber}}-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="log-msg-parts">
                        <div ng-repeat="part in log.msgParts track by $index">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{part}}
                        </div>
                    </div>
                    <div ng-if="log.throwable_rps">
                        Throwable:
                        <div ng-repeat="rp in log.throwable_rps track by $index">
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{rp}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="padding-top: 70px">
        <div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <form action="/Stub-0.1/gateToShop/index" method="post" class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <input ng-model="search.message" class="form-control">
                                </div>
                                <div class="btn-group">
                                    <button type="button"
                                            class="btn btn-sm {{showTrace == true ? 'active' : ''}}"
                                            ng-click="changeShowTrace();">
                                        TRACE</button>
                                    <button type="button"
                                            class="btn btn-sm btn-success {{showDebug == true ? 'active' : ''}}"
                                            ng-click="changeShowDebug();">
                                        DEBUG</button>
                                    <button type="button"
                                            class="btn btn-sm btn-info {{showInfo == true ? 'active' : ''}}"
                                            ng-click="changeShowInfo();">
                                        INFO</button>
                                    <button type="button"
                                            class="btn btn-sm btn-warning {{showWarn == true ? 'active' : ''}}"
                                            ng-click="changeShowWarn();">
                                        WARN</button>
                                    <button type="button"
                                            class="btn btn-sm btn-danger {{showError == true ? 'active' : ''}}"
                                            ng-click="changeShowDanger();">
                                        ERROR</button>
                                </div>
                            </form>
                        </li>
                        <li></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <form class="navbar-form navbar-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-warning {{isStopApply == true ? 'active' : ''}}" ng-click="stopApply();">STOP <span class="badge">{{waitToApply}}</span></button>
                                    <button type="button" class="btn btn-sm" ng-click="clear();">CLEAR <span class="badge">{{items.length}}</span></button>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>