<div class="pulse_holder {{stompClient.connected ? 'connected' : ''}}"
     tooltip-placement="left"
     uib-tooltip="{{stompClient.connected ? 'Connection is established' : 'Connection is lost'}}">
    <div class="pulse_marker" >
        <div class="pulse_rays"></div>
    </div>
</div>
<div class="flow {{showSettings ? 'with-settings' : ''}}" class="flow" when-scrolled-up="whenScrolledUp()" when-scrolled-down="whenScrolledDown()">
    <div>
        <div ng-repeat="log in items | logComplex:showTrace:showDebug:showInfo:showWarn:showError:pageLogLimit:logSearchValue"
             class="entry-log level-{{log.level.levelStr}}">
            <!--use logback template-->
            <div logback></div>
        </div>
    </div>
</div>
<div class="container {{showSettings ? 'with-settings' : ''}}">
    <div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <div class="navbar-form navbar-left">
                            <div class="btn-group">
                                <button type="button"
                                        class="btn btn-sm {{showTrace == true ? 'active' : ''}}"
                                        ng-click="showTrace = !showTrace" title="Show/hide trace logs">
                                    T
                                </button>
                                <button type="button"
                                        class="btn btn-sm {{showDebug == true ? 'btn-success active' : ''}}"
                                        ng-click="showDebug = !showDebug" title="Show/hide debug logs">
                                    D
                                </button>
                                <button type="button"
                                        class="btn btn-sm {{showInfo == true ? 'active btn-info' : ''}}"
                                        ng-click="showInfo = !showInfo" title="Show/hide info logs">
                                    I
                                </button>
                                <button type="button"
                                        class="btn btn-sm {{showWarn == true ? 'active btn-warning' : ''}}"
                                        ng-click="showWarn = !showWarn" title="Show/hide warn logs">
                                    W
                                </button>
                                <button type="button"
                                        class="btn btn-sm {{showError == true ? 'active btn-danger' : ''}}"
                                        ng-click="showError = !showError" title="Show/hide error logs">
                                    E
                                </button>
                            </div>
                            <div class="form-group">
                                <input ng-model="logSearchValue" class="form-control log-search-field"
                                       placeholder="Search by log message"
                                       ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }">
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm" ng-click="logSearchValue = ''">X</button>
                            </div>
                        </div>
                    </li>
                    <li>

                    </li>
                </ul>
                <ul class="nav navbar-nav">

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="navbar-form navbar-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm
                                            {{getButtonItemLengthClass(queue.length, 5000, 10000)}}
                                            {{isStopped == true ? 'active' : ''}}"
                                        ng-click="isStopped = !isStopped" title="Stop/Start">
                                    Freeze <span class="badge" ng-show="isStopped">{{queue.length}}</span></button>

                                <button type="button" class="btn btn-sm" ng-click="showSettings = !showSettings">
                                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></button>
                            </div>
                        </form>
                    </li>
                </ul>
                <div class="scroll_to_top" ng-click="scrollToTop()" ng-show="pageLogLimit > VISIBLE_LOGS_QUANTITY"
                     title="Scroll to top">
                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                </div>
            </div>
        </div>
        <div class="settings" ng-if="showSettings">
            <div class="row">
                <div class="col-md-6">
                    <div log-chart="items.length"></div>
                </div>
                <div class="col-md-6">
                    <div class="setting">Items in store: {{items.length}} <button type="button" class="btn btn-xs btn-danger" ng-click="clear();">Clear</button></div>
                    <div class="setting">Items on page: {{pageLogLimit}}</div>
                    <div class="setting">Hide help: {{isOptionOn('view.hideHelp')}} <button type="button" class="btn btn-xs btn-success" ng-click="changeBoolOption('view.hideHelp')">Show help</button></div>
                    <div class="setting">Show mdc: {{isOptionOn('view.showMdc')}} <button type="button" class="btn btn-xs btn-success" ng-click="changeBoolOption('view.showMdc')">Switch</button></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="help_back" ng-hide="isOptionOn('view.hideHelp')"></div>
<div class="help {{showSettings ? 'with-settings' : ''}}" ng-hide="isOptionOn('view.hideHelp')">
    <div class="description">
        <div class="alert alert-success" role="alert">
            <strong>Help</strong><br/>
            <br/>
            Please check out the elements:
            <ul>
                <li>Log level tumblers</li>
                <li>Freeze button</li>
                <li>Server pulse</li>
                <li>Log list</li>
                <li>Search field</li>
            </ul>
            <br/>

            <button type="button" class="btn btn-success btn-lg" ng-click="changeBoolOption('view.hideHelp')">
                Click to close help
            </button>
        </div>
    </div>
    <div class="log_level_tumblers">
        <div class="alert alert-info" role="alert">
            <strong>Log level tumblers</strong><br/>
            Click to show/hide logs with level<br/>
            <div><button type="button" class="btn btn-sm active">T</button> - trace level</div>
            <div><button type="button" class="btn btn-sm btn-success active">D</button> - debug level</div>
            <div><button type="button" class="btn btn-sm btn-info active">I</button> - info level</div>
            <div><button type="button" class="btn btn-sm btn-warning active">W</button> - warning level</div>
            <div><button type="button" class="btn btn-sm btn-danger active">E</button> - error level</div>
        </div>
    </div>
    <div class="stop_button">
        <div class="alert alert-info" role="alert">
            <strong>Freeze button</strong><br/>
            Do freeze log appearance for a time<br/>
            <span class="badge">0</span> - frozen logs quantity
        </div>
    </div>
    <div class="server_pulse">
        <div class="alert alert-info" role="alert">
            <strong>Server pulse</strong><br/>
            Indicates the status of a connection with websocket server
        </div>
    </div>
    <div class="search_field">
        <div class="alert alert-info" role="alert">
            <strong>Search field</strong><br/>
            Search by log message
        </div>
    </div>
    <div class="log_list">
        <div class="alert alert-info" role="alert">
            <strong>Log list</strong><br/>
            Logs will be here
        </div>
    </div>
</div>