.entry-log.level-ERROR,
.entry-log .log-level.level-ERROR {
    color: #AC2925;
}

.entry-log .log-level.level-ERROR {
    font-weight: bold;
}

.entry-log .log-level.level-WARN {
    color: darkorange;
    font-weight: bold;
}

.entry-log .log-level.level-INFO {
    color: blue;
    font-weight: bold;
}

.entry-log .log-level.level-DEBUG {
    color: green;
    font-weight: bold;
    font-weight: bold;
}

.entry-log {
    /*display: none;*/
    word-wrap: break-word;
}

.show-level-ERROR .entry-log.level-ERROR {
    display: block
}

.show-level-WARN .entry-log.level-WARN {
    display: block
}

.show-level-INFO .entry-log.level-INFO {
    display: block
}

.show-level-DEBUG .entry-log.level-DEBUG {
    display: block
}

.show-level-TRACE .entry-log.level-TRACE {
    display: block
}

.entry-log span.log-level {
    width: 47px;
    display: inline-block;
    text-align: right;
}

.entry-log span.log-thread {
    /*min-width: 150px;*/
    display: inline-block;
    /*float: right;*/
}

.entry-log span.log-mdc {
    /*float: right;*/
    /*padding-right: 5px;*/
}

.entry-log div.log-msg-multiline {
    margin-left:50px;
    padding-left: 5px;
}

.entry-log .log-msg-error-stack {
    margin-left:50px;
    padding-left: 5px;
}

.flow {
    font-size: 12px;
    word-wrap: break-word;
    padding-left: 3px;
    overflow: auto;
    position:fixed !important;
    position:absolute;
    top:0;
    right:0;
    bottom: 50px;
    left:0;
}

.log-msg-error-stack.bs-callout.bs-callout-danger {
    background-color: white;
}

@-webkit-keyframes pulse
{
    0% {-webkit-transform: scale(0); opacity: 0;}
    8% {-webkit-transform: scale(0); opacity: 0;}
    15% {-webkit-transform: scale(0.1); opacity: 1;}
    30% {-webkit-transform: scale(0.5); opacity: 1;}
    100% {opacity: 0; -webkit-transform: scale(1);}
}

@-moz-keyframes pulse
{
    0% {-moz-transform: scale(0); opacity: 0;}
    8% {-moz-transform: scale(0); opacity: 0;}
    15% {-moz-transform: scale(0.1); opacity: 1;}
    30% {-moz-transform: scale(0.5); opacity: 1;}
    100% {opacity: 0; -moz-transform: scale(1);}
}

.pulse_holder {
    display: block;
    z-index: 100;
    position: fixed;
    right: 24px;
    top: 24px;
}

.pulse_holder .pulse_marker {
    width: 16px;
    height: 16px;
    background: #969099;
    border-radius: 28px;
}

.pulse_holder.connected .pulse_marker {
    background: #099;
}

.pulse_holder .pulse_rays {
    margin: 0 auto;
    border-radius: 100px;
    position: absolute;
    right: -24px;
    top: -24px;
    z-index: 10;
    background-color: transparent;
    opacity: 0.1;
    width: 64px;
    height: 64px;
    border: 2px solid rgb(128, 123, 122);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
    /* Giving Animation Function */
    -webkit-animation: pulse 2s linear infinite;
    -moz-animation: pulse 2s linear infinite;
    border-image: initial;
}

.pulse_holder.connected .pulse_rays {
    border: 2px solid rgba(0, 128, 64, 1);
}

.markers_container {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    max-width: 680px;
    padding: 0 15px;
}

.pointer {
    cursor: pointer;
}

.scroll_to_top {
    float: right;
    display: block;
    z-index: 100;
    position: fixed;
    right: 24px;
    /* top: 24px; */
    bottom: 76px;
    font-size: 24px;
    cursor: pointer;
}